.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.user-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30rem;
  margin-right: auto;
  margin-left: auto;
}

.form-label {
  background-color: lightgray;
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
}

label {
  margin-right: 10px;
}

.form-data-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30rem;
  margin-right: auto;
  margin-left: auto;
}

.form-data {
  text-align: start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
